<div class="container">
<h1>Edit a new flat</h1>
<div class="form">
<%= simple_form_for(@flat) do |f| %>
    <%= f.input :name, class: "form_control" %>
    <%= f.input :address, class: "form_control" %>
    <%= f.input :description, class: "form_control" %>
    <%= f.input :price_per_night, class: "form_control" %>
    <%= f.input :number_of_guests, class: "form_control" %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<div class="div">
<%= link_to 'Show', flat_path(@flat), class: "button" %>
<%= link_to 'Back', flats_path, class: "button" %>
</div>
</div>

</div>